* {
  text-decoration: none;
  font-family: sans-serif;
}

a:link {
  color: black;
}

#container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}


/*---------------*/
/* Input Styling */
/*---------------*/

header {
  background-color: #1779ba;
  -webkit-box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.1);
}

.input-group {
  margin-bottom: 3vh;
  transition: 0.2s;
}

#container .input-group {
  flex: 1 1 auto;
}

.input-group-label {
  background: none;
  border-style: none;
  color: white;
  line-height: 10vmin;

}

.input-group-field {
  /*border: 1px solid #ededed;*/
  border-style: none;
  box-shadow: none;
  transition: 0.2s;
  height: 10vmin;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(1,1,1,0);
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}

.input-group-field:focus {
  border-style: none;
  box-shadow: none;
  transition: 0.2s;
  background-color: rgba(200,200,200,0.1);
}

/*Centers the placeholder text.*/
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.input-group-button {
  display: none;
}

/*-------------------*/
/* Drop-down Styling */
/*-------------------*/

a:focus {
  outline:0;
}

.dropdown-pane {
  padding: 0px;
  width: 60vw;
  margin: 0 auto;
  margin-left: -4.5vw;
  top: 10vmin;
  border-radius: 0px 0px 10px 10px!important;
}

.dropdown-pane span {
  display: block;
}

.dropdown-pane span:hover {
    background: rgba(200,200,200,0.4)!important;
    cursor: pointer;
}

.dropdown-pane li {
  height: 75px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid rgba(200,200,200,0.2);
}

.dropdown-pane li:hover {
}

.dropdown-pane img {
  width: 75px;
  height: auto;
  float: left;
  margin-right: -75px;
  border-right: 2px solid rgba(200,200,200,0.2);
}


.dropdown-pane hgroup {
  float: left;
  width: auto;
  max-width: 40vw;
  margin-left: 85px;
}

.dropdown-pane hgroup b {
  font-size: 1.5em;
}

.dropdown-pane .status {
  float: right;
  width: 3vw;
  min-width: 75px;
  height: 3vw;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-left: 2px solid rgba(200,200,200,0.2);
}

/*Loading spinner*/

.spinner, .result {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.result.alive {
  color: #3adb76;
}

.result.alive::before {
  content: "No";
  font-size: 2em;
  line-height: 80%;
  width: 100%;
}

.result.dead {
  color: #cc4b37;
}

.result.dead::before {
  content: "Yes";
  font-size: 2em;
  line-height: 80%;
  width: 100%;
}

.result.unknown {
  color: #cacaca;
}

.result.unknown::before {
  content: "?";
  font-size: 2em;
  line-height: 80%;
  width: 100%;
}

.double-bounce {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*-------------*/
/* Status page */
/*-------------*/

h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #cacaca;
  font-weight: 500;
  font-size: 5em;
}

#status-page {
  display: none;
}

.status {
  width: 600px;
  max-width: 90vw;
  height: 100px;
  margin: 20px;
  margin: 0 auto;
}

.profile {
  height: 40vh;
  margin-top: 15vh;
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 90vw!important;
}

/*Drop-shadow on the card*/
.profile .card {
  -webkit-box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.1);
  box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.1);

  /*For when the two columns stack in portrait orientation*/
  min-height: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;

  /*Removes baked-in padding so the title spans across the entire card*/
  padding: 0px;

  overflow: scroll;

  min-height: 300px;
}

.profile .card .card-divider:nth-child(1) {
  font-size: 2em;
  text-align: center;

}

.profilepic {
  width: 80%;
  height: 130%;
  /*change this url to whatever we grab from wikipedia*/
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  border-radius: 5px;

  margin-right: 10vw;
  margin-bottom: 0%;
}

.profilepic #dab #leftarm {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  background: url(../img/leftarm.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.profilepic #dab #rightarm {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  background: url(../img/rightarm.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -5;
}

.profilepic #dab #legs {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  background: url(../img/legs.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -5;
}

.description {
  padding: 10px;
  max-width: 49vw;
  padding: 20px;
  position: relative;
}

.description p {
  max-height: 25%;
  overflow: scroll;
}

.status::before {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 6em;
  line-height: 90px;
  width: 100%;
}

.status.alive {
  border: 5px solid #3adb76;
  background-color: #3adb76;
  color: #fefefe;
}

.status.alive::before {
  content: "No";
}

.status.dead {
  border: 5px solid #cc4b37;
  background-color: #cc4b37;
  color: #fefefe;
}

.status.dead::before {
  content: "Yes";
}

.status.unknown {
  border: 5px solid #cacaca;
  background-color: #cacaca;
  color: #fefefe;
}

.status.unknown::before {
  content: "?";
}

.status.unknown::after {
  content: "Is X Dead could not determine if the individual is alive or not.";
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 200%;
  margin-left: -50%;
  margin-top: 6px;
  color: #cacaca;
}

#wikilink {
  background-color: #767676;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.3em;
  display: block;
  text-align: center;
  width: 66%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#wikilink:hover {
  cursor: pointer;
  background-color: #666666;
}


@media only screen and (min-device-width : 801px) {
  body {
    overflow: hidden;
  }

  .input-group {
    max-width: 70vw;
    padding-left: 3em;
    padding-right: 3em;
  }

  .input-group-label,.input-group-field {
    font-size: 4.5vmax;
  }

  .profilepic {
    position: relative;
  }

  .profilepic #dab #leftarm {
    position: absolute;
    width: 30vw;
    height: 30vw;
    left: -15vw;
    top: 0vmin;
  }

  .profilepic #dab #rightarm {
    position: absolute;
    width: 30vw;
    height: 30vw;
    left: 20vw;
    top: 0vmin;
  }

  .profilepic #dab #legs {
    position: absolute;
    width: 30vw;
    height: 30vw;
    left: 0vw;
    bottom: -40%;
  }

  .profilepic #dab {
    top: -300px;
  }
}

@media only screen and (max-device-width : 800px) {
  body {
    overflow-x: hidden;
  }

  .input-group {
    max-width: 80vw;
    padding-left: 0vw;
    padding-right: 0vw;
  }

  .input-group-label,.input-group-field {
    font-size: 3vmax;
  }

  /*Makes the description card fit the width of the profile picture on portrait orientation*/

  .profile .card {
    min-width: 70vw;
  }

  .profile .card * {
    margin: 0 auto;
  }

  .profile .card .card-divider {
    width: 100%;
  }

  .description {
    max-width: 60vw;
  }

}

/*Getting rid of the dab in between 800 and 1024px because it's broken and hard to fix for some reason*/
@media only screen and (max-device-width : 1024px),
only screen and (orientation: portrait) {
  #dab {
    display: none!important;
  }
}


.alive-celebration {
  display: none;
}
/*Also insert a random quip from idk.js in h2 in .row*/

#search-dropdown:blank {
  display: none;
}


#search-dropdown:blank {
  display: none;
}
